
    <div class="container">
        <div class="row">
           <div class="col-lg-12">
            <div class="title">
              <span></span><span></span><span></span><span></span>
                <h4>Experience</h4>
            </div>
           </div>
           <!-- <div class="line"></div> -->
          <div class="col-lg-6" id="col1" >
            <div class="exp">
                <h5>2022-2023</h5>
                <h6>Worked as System Engineer on ICICI project,</h6>
                <h6>Infosys Limited.</h6>
               </div>
          </div>
          <div class="col-lg-6" ></div>
          <div class="col-lg-6" id="col2"></div>
          <div class="col-lg-6" >
            <div class="available">
                <h5>2023-</h5>
                <h6>Available to work on Angular Technology.</h6>
               </div>
          </div>

          <div class="col-lg-12" id="projects">
            <div class="title">
              <span></span><span></span><span></span><span></span>
                <h4>Projects</h4>
            </div>
          </div>

          <div class="col-lg-4">
              <h5>{{name1}}</h5>
              <img src="{{img1}}">
              <a href="{{link1}}" target="_blank">
                <button>Visit</button>
              </a>
              
                <h6 class="json">Download json server <br>and run in terminal to see the list</h6>
              
          </div>

          <div class="col-lg-4">
            <h5>{{name2}}</h5>
            <img src="{{img2}}">
            <a href="{{link2}}" target="_blank">
              <button>Visit</button>
            </a>
        </div>

        <div class="col-lg-4">
            <h5>{{name3}}</h5>
            <img src="{{img3}}">
            <a href="{{link3}}" target="_blank">
              <button>Visit</button>
            </a>
        </div>

        <div class="dot1">
          <img src="assets/dot.jpg" alt="">
         </div>
 
         <div class="dot2">
          <img src="assets/dot.jpg" alt="">
         </div>


        </div>
    </div>

    
    