<div class="container">
    <div class="row">
        <div class="col-lg-6" id="avatarbg" style="background:url(assets/logo.gif);background-position-x: center;">
            <div class="mine">
                <img src="assets/mine.png">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="info">
                <div class="text">
                    <h4>Hii,I Am <strong >Naveen Bellad</strong> </h4>
                    <h5 class="frontend">I'm Front End Developer</h5>
                    <h5 class="imagination">"Where imagination meets creativity"</h5>
                </div>

            </div>
        </div>
    </div>
</div>